<form [formGroup] ="userForm" (ngSubmit)="onSubmit(userForm)" novalidate>
    
<div class="mb-3">
    <label for="login">Логин:</label>
    <input id="login" class="form-control" placeholder="{{placeholders.login}}" type="text" formControlName="login"
    (blur)="onValueChanges()" 
       [ngClass]= "{'is-valid': login.valid,'is-invalid': login.invalid && (login.touched || login.dirty)}">
    <div class="valid-feedback" *ngIf="login.valid">{{formSuccess.login}}</div> 
    <div class="invalid-feedback" *ngIf="login.invalid && (login.touched || login.dirty)">{{formErrors.login}}</div>  
    </div>

<div class="mb-3">
    <label for="password">Password:</label>
    <input id="password" class="form-control" placeholder="{{placeholders.password}}" type="password" formControlName="password"
    (blur)="onValueChanges()"
        [ngClass]= "{'is-valid': password.valid,'is-invalid': password.invalid && (password.touched || password.dirty)}">
    <div class="valid-feedback" *ngIf="password.valid">{{formSuccess.password}}</div> 
    <div class="invalid-feedback" *ngIf="password.invalid && (password.touched || password.dirty)">{{formErrors.password}}</div>  
    </div>

    <div class="mb-3">
        <label for="password">Email:</label>
        <input id="email" class="form-control" placeholder="{{placeholders.email}}" type="email" formControlName="email"
        (blur)="onValueChanges()"
        [ngClass]= "{'is-valid': email.valid,'is-invalid': email.invalid && (email.touched || email.dirty)}">
        <div class="valid-feedback" *ngIf="email.valid">{{formSuccess.email}}</div> 
        <div class="invalid-feedback" *ngIf="email.invalid && (email.touched || email.dirty)">{{formErrors.email}}</div>  
        </div>

    <div class="mb-3">
        <label for="age">Возраст:</label>
        <input id="age" class="form-control" placeholder="{{placeholders.age}}" type="number" formControlName="age"
        (blur)="onValueChanges()"
        [ngClass]= "{'is-valid': age.valid,'is-invalid': age.invalid && (age.touched || age.dirty)}">
        <div class="valid-feedback" *ngIf="age.valid">{{formSuccess.age}}</div> 
        <div class="invalid-feedback" *ngIf="age.invalid && (age.touched || age.dirty)">{{formErrors.age}}</div>  
        </div>
   

    <div class="mb-3" relative>
        <label for="site">Сайт:</label>
        <input id="site" class="form-control" placeholder="{{placeholders.site}}" type="text" formControlName="site"
        (blur)="onValueChanges()"
        [ngClass]= "{'is-valid': site.valid,'is-invalid': site.invalid && (site.touched || site.dirty)}">
        <div *ngIf="site.pending"><img src="assets/loading.gif" class="loading" alt="loading"></div>
        <div class="valid-feedback" *ngIf="site.valid">{{formSuccess.site}}</div> 
        <div class="invalid-feedback" *ngIf="site.invalid && (site.touched || site.dirty)">{{formErrors.site}}</div> 
        <div *ngIf="formErrors.site">{{formErrors.site}}</div>
        <div *ngIf="!formErrors.site && site.errors?.urlNotAllowed">{{validationMessages.site.urlNotAllowed}}</div>
        </div>
   
      <div class="mb-3">
      <label for="role">Роль:</label>
      <select id="role" class="form-select" formControlName="role"
       (blur)="onValueChanges()"
        [ngClass]= "{'is-valid': role.valid,'is-invalid': role.invalid && (role.touched || role.dirty)}"> 
        <option [value]="null" selected disabled>{{placeholders.role}}</option>
        <option *ngFor="let role of roles" [value]="role">{{role}}</option>
       </select>
        <div class="valid-feedback" *ngIf="role.valid">{{formSuccess.role}}</div> 
        <div class="invalid-feedback" *ngIf="role.invalid && (role.touched || role.dirty)">{{formErrors.role}}</div>  
        </div>

    <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid">Submit</button>
   </form>

  